.Heading {
  margin: 2rem;
  text-align: center;
}

.Main {
  margin: 0 auto;
}

@media (min-width: 30rem) {
  .Main {
    margin: 0 2rem;
  }
}

@media (min-width: 60rem) {
  .Main {
    margin: 0 12rem;
  }
}
